@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>ALO
    </p>

        <img src="https://mobirise.com/extensions/toolm5/assets/images/t3-800x1350.jpg" alt="" srcset=""
<</div>
