@model API_CINEMA.Models.Filmes

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Filmes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Filme" class="control-label"></label>
                <input asp-for="Filme" class="form-control" />
                <span asp-validation-for="Filme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingresso" class="control-label"></label>
                <input asp-for="Ingresso" class="form-control" />
                <span asp-validation-for="Ingresso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crítica" class="control-label"></label>
                <input asp-for="Crítica" class="form-control" />
                <span asp-validation-for="Crítica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
